@font-face{font-family:impac;src:url('impact.ttf') format("truetype")}
html, body {
	font-family: arial;
	overflow: hidden;
	font-weight: 100;
}
form div:not(#after) {
	overflow: hidden;
	position: relative;
}
form {
	font-family: impact, impac, arial;
}
form div [type=file] {
	cursor: inherit;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 50px;
	position: absolute;
	top: 0;
}
form div:not(#after) {
	margin: 5px;
	max-width: 40%;
}
form {
	width: 100%;
	max-width: 300px;
}
form div:not(#after):not([class]) {
	display: block;	
}
a {
	text-decoration: none;
	color: #fff !important;
}
form a {
	width: calc(100% + 4rem);
	height: 100%;
	display: block;
	margin-left: -2rem;
}
form div [type=file] {
	cursor: pointer;
}
canvas {
	height: 100vw;
	max-height: 40vh;
	margin: auto;
	margin-top: 15px;
	padding: 0;
	display: block !important;
}
form p {
	margin: 5px;
}
