@font-face{font-family:impac;src:url('impact.ttf') format("truetype")}
html, body {
	font-family: impact, impac, arial;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
form {
	width: 100%;
	max-width: 300px;
	margin: 10px;
}
form div [type=file] {
	cursor: inherit;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 50px;
	position: absolute;
	top: 0;
}
form div:not(.row):not(.row div) {
	max-width: 40%;
	overflow: hidden;
	position: relative;
	margin: 15px;
}
form a {
	text-decoration: none;
	color: #fff !important;
	width: calc(100% + 4rem);
	height: 100%;
	display: block;
	margin-left: -2rem;
}
#download { display: none !important }
canvas {
	height: 100vw;
	max-height: 40vh;
	margin: auto;
	margin-top: 15px;
	padding: 0;
	display: block !important;
	background: url(meme.png) no-repeat 100%/cover;
}
.row, input {
	margin-bottom: 3px !important;	
}
