@font-face{font-family:impac;src:url('impact.ttf') format("truetype")}
html, body {
	font-family: arial;
	overflow: hidden;
	font-weight: 100;
}
form div {
	overflow: hidden;
	position: relative;
	font-family: impact, arial;
}
form {
	font-family: impact, arial;
}
form div [type=file] {
	cursor: inherit;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 50px;
	position: absolute;
	top: 0;
}
form div, a {
	background: gray;
	border-radius: 6px;
	left: 0;
	right: 0;
	margin: 16px auto;
	max-width: 40%;
	height: 50px;
	overflow: hidden;
	position: relative;
	line-height: 50px;
	vertical-align: middle;
}
form div {
	display: block;	
}
a {
	display: none;
	text-decoration: none;
	color: #000;
}
form div [type=file] {
	cursor: pointer;
}
canvas {
	height: 100vw;
	max-height: 40vh;
	margin: auto;
	margin-top: 15px;
	padding: 0;
	display: block;
}
form p {
	margin: 5px;
}
